
.grid {
  grid-template-areas: 'header header header' 'nav main aside' 'footer footer footer';
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px auto 100px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}
.header{
  background-color: #f8b6b6;
  grid-area: 'header';
}
.main{
  background-color: #f9fc70;
  grid-area: 'main';
  
}
.nav{
  background-color: #89edff;
  grid-area: 'nav';
}
.aside{
  background-color: #ff8eec;
  grid-area: 'aside';
}
.footer{
  grid-area: footer;
  background-color: #b69bff;
}


.grid-item{
  
  text-align center;
}
















/* Flex */
/* html, body {
  height: 100%;
  
}
.page-wrapper {
  min-height: 100%;
}
.header {
  background: #ff9595;
  height: 50px;
}
.footer {
  background: #02afa7;
  height: 100px;
}
.content {
  background: #95ffc1;
  display: flex;
}
.column_pos_left,
.column_pos_right {
  background: #ffc67c;
  width: 20%;
}
.column_pos_center {
  width: 60%;
  padding: 15px;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}
.footer-buffer {
  height: 100px;
} */